body
{
    color: #0000aa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container
{
    max-width: 960px;
    margin: 0 auto;
}

img
{
    width: 200px;
    margin-top: 1em;
}

p
{
    max-width: 500px;
    text-align: center;
}

h1
{
    padding: 2px 30px;
    background-color: #eee;
    border-radius: 8px;
}
